#movies img, #movie img{
    margin-top: 10px;
  }

#movies {
    margin-top: 20px;
}

body {
    background-color: black;
    color: white;
}
.well {
    background-color: rgb(53, 53, 53);
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}
a {
    color: red;
}
  @media(min-width:960px){
    #movies .col-md-3 .well{
      height: 390px;
    }
  
    #movies .col-md-3 img{
      height:240px;
    }
  }